/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.sheet {
  animation: sheetOpen 0.75s forwards cubic-bezier(0.6, 0.6, 0, 1);
}

.sheet::backdrop {
  animation: sheetFadeIn 0.75s forwards cubic-bezier(0.6, 0.6, 0, 1);
}

.sheet.modal-closing {
  animation: sheetClose 0.35s forwards cubic-bezier(0.6, 0.6, 0, 1);
}

.sheet.modal-closing::backdrop {
  animation: sheetFadeOut 0.35s forwards cubic-bezier(0.6, 0.6, 0, 1);
}

.oneTwo {
  animation: oneToTwo 0.75s forwards cubic-bezier(0.6, 0.6, 0, 1);
}
.oneTwoPC {
  animation: oneToTwoPC 0.5s forwards cubic-bezier(0.6, 0.6, 0, 1);
}
.twoThree {
  animation: twoToThree 0.75s forwards cubic-bezier(0.6, 0.6, 0, 1);
}
.twoThreePC {
  animation: twoToThreePC 0.5s forwards cubic-bezier(0.6, 0.6, 0, 1);
}
.threeTwo {
  animation: threeToTwo 0.75s forwards cubic-bezier(0.6, 0.6, 0, 1);
}
.threeTwoPC {
  animation: threeToTwoPC 0.5s forwards cubic-bezier(0.6, 0.6, 0, 1);
}
.twoOne {
  animation: twoToOne 0.75s forwards cubic-bezier(0.6, 0.6, 0, 1);
}
.twoOnePC {
  animation: twoToOnePC 0.5s forwards cubic-bezier(0.6, 0.6, 0, 1);
}
.threeOne {
  animation: threeToOne 0.75s forwards cubic-bezier(0.6, 0.6, 0, 1);
}
.threeOnePC {
  animation: threeToOnePC 0.5s forwards cubic-bezier(0.6, 0.6, 0, 1);
}
.oneThree {
  animation: oneToThree 0.75s forwards cubic-bezier(0.6, 0.6, 0, 1);
}
.oneThreePC {
  animation: oneToThreePC 0.5s forwards cubic-bezier(0.6, 0.6, 0, 1);
}

.loading {
  animation: load linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.slidein300: {
  animation: fadein 1.5s forwards ease-in-out;
}

.slidein500: {
  animation: slidein 500ms forwards ease;
}

.slidein700: {
  animation: slidein 700ms forwards ease;
}

@keyframes fadein {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes sheetOpen {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes sheetClose {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes sheetFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes sheetFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes oneToTwo {
  from {
    transform: translateX(0%);
    width: 33%;
  }
  to {
    transform: translateX(68%);
    width: 50%;
  }
}
@keyframes oneToTwoPC {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}
@keyframes twoToThree {
  0% {
    transform: translateX(68%);
    width: 50%;
  }
  30% {
    transform: translateX(140%);
    width: 30%;
  }
  100% {
    transform: translateX(460%);
    width: 18%;
  }
}
@keyframes twoToThreePC {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(200%);
  }
}

@keyframes threeToTwo {
  0% {
    transform: translateX(460%);
    width: 18%;
  }
  75% {
    transform: translateX(120%);
    width: 35%;
  }
  100% {
    transform: translateX(68%);
    width: 50%;
  }
}
@keyframes threeToTwoPC {
  0% {
    transform: translateY(200%);
  }

  100% {
    transform: translateY(100%);
  }
}
@keyframes twoToOne {
  from {
    transform: translateX(68%);
    width: 50%;
  }
  to {
    transform: translateX(0%);
    width: 33%;
  }
}
@keyframes twoToOnePC {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}
@keyframes threeToOne {
  from {
    transform: translateX(460%);
    width: 18%;
  }
  to {
    transform: translateX(0%);
    width: 33%;
  }
}
@keyframes threeToOnePC {
  0% {
    transform: translateY(200%);
  }

  100% {
    transform: translateY(0%);
  }
}
@keyframes oneToThree {
  from {
    transform: translateX(0%);
    width: 33%;
  }
  to {
    transform: translateX(460%);
    width: 18%;
  }
}
@keyframes oneToThreePC {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(200%);
  }
}

@keyframes load {
  from {
    width: 2.5rem;
  }
  to {
    width: 14rem;
  }
}

@keyframes slidein: {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appear {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  70% {
    transform: translateY(-15%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.mock {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 60%;
}

@keyframes projectappear {
  from {
    opacity: 0.8;
    transform: scale(90%);
  }
  to {
    opacity: 1;
    transform: scale(100%);
  }
}

.project {
  animation: projectappear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

@keyframes imageslide {
  from {
    transform: translateY(20%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes imageslideback {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-24px);
  }
}

.imageslide {
  animation: imageslide linear;
  animation-timeline: view();
  animation-range: entry 0% cover 80%;
}
.imageslideback {
  animation: imageslideback linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes text {
  from {
    opacity: 0.3;
    transform: scale(80%);
  }
  to {
    opacity: 1;
    transform: scale(100%);
  }
}

.textik {
  animation: text linear;
  animation-timeline: view();
  animation-range: entry 0% cover 15%;
}
